//
// Main Style
// --------------------------------------------------


// Variables
// -------------------------
font-folder = "../../../assets/fonts/structure/"
img-folder = "../../../assets/img/dist/"



// Import
// -------------------------
@import "nib";